<ul id="f-icon" class="f-menu">
    <li><a href=""><i class="zmdi zmdi-google-plus-box"></i></a></li>
    <li><a href=""><i class="zmdi zmdi-twitter-box"></i></a></li>
    <li><a href=""><i class="zmdi zmdi-facebook-box"></i></a></li>
    <li><a href=""><i class="zmdi zmdi-pinterest-box"></i></a></li>
</ul>

Copyright &copy; 2015 Material Admin

<ul class="f-menu">
    <li><a href="">Home</a></li>
    <li><a href="">Dashboard</a></li>
    <li><a href="">Reports</a></li>
    <li><a href="">Support</a></li>
    <li><a href="">Contact</a></li>
</ul>
