<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/alter_header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">

            </div>
            <div class="dash-widgets">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                         <ul class="nav nav-pills nav-stacked">
                            <li data-ui-sref-active="active">
                                <a href="#">
                                    <img src="../img/profile-pics/2.jpg" id="dp" class="profile-image img-circle"><span id="card-list">Youbuy24</span></a>
                                </li>
                                <li><a href="#/selling">Selling <span><button type="button" class="btn btn-success">14</button></span></a></li>
                                <li data-ui-sref-active="active"><a href="#/buying">Buying<span><button type="button" class="btn btn-success">15</button></span></a></li>
                                <li><a href="#/manage_store">Manage Store<span><i id="i-size" class="zmdi zmdi-alert-circle-o"></i></span></a></li>
                                <li><a href="#/security">Security</a></li>
                                <li><a href="#/app">App</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-6">
                        <div class="card" data-ng-controller="recentitemCtrl as rictrl">
                            <div class="card-header">
                                <h2>Recent Items <small>Phasellus condimentum ipsum id auctor imperdie</small></h2>
                                <ul class="actions">
                                    <li class="dropdown" uib-dropdown>
                                        <a href="" uib-dropdown-toggle>
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Refresh</a>
                                            </li>
                                            <li>
                                                <a href="">Settings</a>
                                            </li>
                                            <li>
                                                <a href="">Other Settings</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body m-t-0">
                                <table class="table table-inner table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <!--   <th>Date</th> -->
                                            <th>Price</th>
                                            <!--      <th>Status</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="w in rictrl.riResult.list">
                                            <td class="f-500 c-cyan">{{ w.id }}</td>
                                            <td>{{ w.name }}</td>
                                            <!--  <td>{{ w.date }}</td> -->
                                            <td class="f-500 c-cyan">{{ w.price }}</td>
                                            <!--   <td>{{ w.status }}</td> -->
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination pagination-sm">
                                   <li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                   <li class="active"><a href="#">1</a></li>
                                   <li><a href="#">2</a></li>
                                   <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                               </ul>
                               <div id="page" class="btn-group" role="group" aria-label="...">
                                  <button type="button" class="btn btn-default">5</button>
                                  <button type="button" class="btn btn-default">10</button>
                                  <button type="button" class="btn btn-default">20</button>
                                  <button type="button" class="btn btn-default">30</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="mini-charts">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="mini-charts-item bgm-cyan">
                        <div class="clearfix">
                            <div class="chart stats-bar" data-sparkline-bar></div>
                            <div class="count">
                                <small>Website Traffics</small>
                                <h2>987,459</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
